@model ArtFusionStudio.Models.Phone

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CameraId" class="control-label"></label>
                <select asp-for="CameraId" class="form-control" asp-items="ViewBag.CameraId"></select>
                <span asp-validation-for="CameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayTechnologyId" class="control-label"></label>
                <select asp-for="DisplayTechnologyId" class="form-control" asp-items="ViewBag.DisplayTechnologyId"></select>
                <span asp-validation-for="DisplayTechnologyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryId" class="control-label"></label>
                <select asp-for="MemoryId" class="form-control" asp-items="ViewBag.MemoryId"></select>
                <span asp-validation-for="MemoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageCapacityId" class="control-label"></label>
                <select asp-for="StorageCapacityId" class="form-control" asp-items="ViewBag.StorageCapacityId"></select>
                <span asp-validation-for="StorageCapacityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USBId" class="control-label"></label>
                <select asp-for="USBId" class="form-control" asp-items="ViewBag.USBId"></select>
                <span asp-validation-for="USBId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OSNameAndVersionId" class="control-label"></label>
                <select asp-for="OSNameAndVersionId" class="form-control" asp-items="ViewBag.OSNameAndVersionId"></select>
                <span asp-validation-for="OSNameAndVersionId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingId" class="control-label"></label>
                <select asp-for="RatingId" class="form-control" asp-items="ViewBag.RatingId"></select>
                <span asp-validation-for="RatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
